<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/studentView.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="flexContainer">
            <div id="spacer"></div>
            <div id="login"><a href="/admin">Login as editor</a></div>
            <%- include("include/showTable") %>
            <div id="weather">
                <p><%= data.weather.status %> </p>
                <img src=<%= data.weather.icon %>>
                <p>Temperature: <%= data.weather.temperature %></p>
                <p>Real feel: <%= data.weather.real_feel %></p>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src='js/indexConnect.js'></script>
    </body>
</html>