<table id="table">
    <tr>
        <th>Bus Number</th>
        <th>Bus Change</th>
        <th>Status</th>
        <th class="deleteBus"></th>
    </tr>
<% for(let i = 0; i < buses.length; i++) { %> 
    <tr>
        <td><input class="tableInput" type="number" name="busNumber" value=<%= buses[i].number %>></td>
        <td><input class="tableInput" type="number" name="busChange" value=<%= buses[i].change %>></td>
        <td>
            <select name="busStatus">
                <option value="NOT HERE" <%= buses[i].status == "NOT HERE"? "selected" : "" %>>NOT HERE</option>
                <option value="HERE" <%= buses[i].status == "HERE"? "selected" : "" %>>HERE</option>
                <option value="LOADING" <%= buses[i].status == "LOADING"? "selected" : ""%>>LOADING</option>
                <option value="GONE" <%= buses[i].status == "GONE"? "selected" : "" %>>GONE</option>
            </select>
        </td>
        <td class="deleteBus"><i class="fas fa-times" onclick="removeBus(this)"></i></td>
    </tr>
<% } %> 
</table>