<div id="content">
    <!-- <div id="spacer"></div> -->
    <!-- <div id="header">
        <div id="weather">    
            <img src=<%= data.weather.icon %>>
            <p><%= data.weather.status %> </p>
            <p>Temperature: <%= data.weather.temperature %>°F</p>
            <p>Feels like: <%= data.weather.feelsLike %>°F</p>
        </div>
        <div id="login"><a href="/admin">Login as editor</a></div>
    </div> -->
    <table class="bus-table">
        <!-- <colgroup>
            <col span="3">
        </colgroup> -->
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>Bus Change</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        <% for(let i = 0; i < data.buses.length; i++) { %> 
            <tr>
                <td><%= data.buses[i].number %></td>
                <td><%= data.buses[i].change %></td>
                <td><%= data.buses[i].status %></td>
                <td><%= data.buses[i].arrival %></td>                
            </tr>
        <% } %> 
        </tbody>
    
    </table>
    <!-- <p id="contactInfo">
        If you have feedback, feature requests or bugs to report please contact busappnnhsse@gmail.com. 
        Please include the topic of the email in the subject.
    </p> -->
</div>