<table id='busTable'>
    <colgroup>
        <col span="3">
      </colgroup>
    <tr>
        <th>Bus Number</th>
        <th>Bus Change</th>
        <th>Bus Arrived</th>
        <th>Status</th>
    </tr>
<% for(let i = 0; i < data.buses.length; i++) { %> 
    <tr id=<%= 'bus_'+data.buses[i].number%>>
        <td><%= data.buses[i].number %></td>
        <td><%= data.buses[i].change %></td>
        <td><%= data.buses[i].arrival %></td>
        <td><%= data.buses[i].status %></td>
    </tr>
<% } %> 
</table>